@using SyncService.Providers
@model dynamic

@{
    ViewBag.Title = "Test Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Test Page</h2>

@Html.Partial("NotifyPlaying", new PlaylistPosition())

<p>Current position:</p>
<p>Video Index: @Model.VideoIndex</p>
<p>Video Time: @Model.VideoTime</p>